.search-results {
  &-item {
    padding: var(--spacing-small) 0;
    margin: 0 var(--spacing-small);
    border-bottom: 1px solid var(--light);

    &:last-child {
      border-bottom: 0;
    }
  }

  &-empty {
    padding: var(--spacing-big);
    font-size: 1.5rem;
  }
}
